		<footer id="footer">
			<section class="container clearfix">
				<h2 class="logo">
					<a href="/">
						<strong>node</strong> webkit
					</a>
				</h2>

				<div class="social">
					<ul>
						<li>
							<a href="#facebook">
								<i class="fa fa-facebook-square"></i>
							</a>
						</li>
						<li>
							<a href="#github">
								<i class="fa fa-github"></i>
							</a>
						</li>
						<li>
							<a href="#google">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</section>
		</footer>
	
	<script src="//cdn.jsdelivr.net/highlight.js/8.9.1/highlight.min.js"></script>
	<script src="js/custom.js"></script>
	</body>
</html>