<% include includes/head %>
<% include components/header %>

<main>
	<section id="useful" class="clearfix">
		<h2 class="title">node webkit is an app runtime based on <a href="https://www.chromium.org/" target="_blank">Chromium</a> and <a href="https://nodejs.org/" target="_blank">node.js</a></h2>

		<div class="flex-itens container">
			<div class="quick-start">
				<a href="/quick-start">
					<i class="fa fa-laptop"></i>
					<span>
						<i class="fa fa-laptop"></i>
						<span>Quick Start</span>
					</span>
				</a>
			</div>
			<div class="downloads">
				<a href="#">
					<i class="fa fa-download"></i>
					<span>
						<i class="fa fa-download"></i>
						<span>Downloads</span>
					</span>
				</a>
			</div>
			<div class="blog">
				<a href="#">
					<i class="fa fa-commenting"></i>
					<span>
						<i class="fa fa-commenting"></i>
						<span>Blog</span>
					</span>
				</a>
			</div>
			<div class="docs">
				<a href="#">
					<i class="fa fa-book"></i>
					<span>
						<i class="fa fa-book"></i>
						<span>Documentation</span>
					</span>
				</a>
			</div>
		</div>
	</section>

	<svg id="separator" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 100 L100 0 Z"></path>
	</svg>
	
	<section id="features" class="clearfix">
		<div class="see-github container">
			<a href="//github.com/nwjs/nw.js" target="_blank" class="button addon">
				<i class="fa fa-github"></i> View GitHub Project
			</a>

			<span class="separator"></span>

			<h3 class="title">Features</h3>
		</div>
	</section>

	<section id="examples" class="clearfix">
		<code class="code">teste</code>
	</section>

	<section id="team">
		<section class="container">
			<h2 class="title">Who's helping this project?</h2>

			<div class="container">
				<div class="team clearfix">
					<span class="loading"><i class="fa fa-refresh fa-spin"></i></span>
				</div>
			</div>
		</section>
	</section>

</main>

<% include includes/footer %>