<% include includes/head %>
<% include components/header %>

<section class="container">
	
	<h1>Quick Start</h1>
	<code>index.html</code>
	<pre><code class="html">&lt;!DOCTYPE html&gt;
	&lt;html lang=&quot;en&quot;&gt;
	    &lt;head&gt;
	        &lt;meta charset=&quot;UTF-8&quot;&gt;
	        &lt;title&gt;Document&lt;/title&gt;
	    &lt;/head&gt;
	    &lt;body&gt;
	        &lt;h1&gt;Hello World&lt;/h1&gt;

	        We're using node.js
	        &lt;script&gt;document.write(process.version);&lt;/script&gt;
	    &lt;/body&gt;
	&lt;/html&gt;</code></pre>
</section>

<% include includes/footer %>
