@import "core";

body {
	font-family: @font-stack;
	background-color: @white-light;
}

header {
	background-color: @black;
}

a {
	color: @green;
	position: relative;
	padding: @link-spacing;
	margin: -@link-spacing;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

#separator {
	fill: @white;
}

#useful {
	background-color: @white;
}

.title {
	font-weight: 100;
	text-align: center;
	color: @green;
	text-shadow: lighten(@green, 40%) 0 1px 0;
	font-size: 1.3em;
	margin: 2em 0 1.5em;
}

#features {
	background-color: @white-light;
}

.logo {
	font-weight: 100;

	a {
		color: @green;
		text-decoration: none;

		strong {
			color: @white;
		}
	}
}

#footer {
	background-color: @black;
	padding: 2em 0;

	.logo {
		float: left;
	}
}

#header-bar {
	text-align: center;
	padding: 2em 0;
	font-size: 1.7em;
	border-bottom: 4px solid @green;
	box-shadow: #fff 0 1px 0;
}

.flex-itens {
	.flex-center;

	padding: 0 0 3.5em;
	overflow: hidden;

	> div {
		background-color: @white-light;
		width: 100%;
		text-align: center;
		padding: 10%;
		margin: 1em;
		border-radius: 2px;
		position: relative;

		a {
			.flex-center;
			.full-absolute;
			.animation;

			font-size: 2.3em;
			text-decoration: none;

			> span, > i {
				.full-absolute;
				.flex-center;
				.animation;

				pointer-events: none;
			}

			> span {
				left: -100%;
				font-size: .5em;
				font-weight: 100;

				span {
					.visual-hidden;
				}

				left: -100%;
				font-size: .5em;
				font-weight: 100;


				i {
					.animation;
					.visual-hidden;

					margin-right: .5em;
					position: relative;
					top: 2px;
					right: -100%;
					z-index: 999;
					color: @white;
				}
			}

			&:hover {
				background-color: @green;
				color: @white;
			}

			&:hover > i {
				.visual-hidden;
			}

			&:hover > span {

				> span, i {
					.visual-show;
				}

				left: 0;

				i {
					right: 0;
				}

			}
		}
	}
}

.button {
	background-color: @green;
	color: @white;
	padding: 1em 2em;
	border-radius: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 100;

	.animation;

	i {
		margin-right: .5em;
	}

	&:hover {
		background-color: darken(@green, 9);
		color: #fff;
	}
}

#features {
	margin: 1em 0;
	padding: 3em 0;
	
	.see-github {
		text-align: center;
	}
}

.separator {
	margin: 5em 0;
	border: 0;
	height: 1px;
	width: 100%;
	display: block;
	background-color: darken(@white, 1);
	position: relative;

	&::after {
		position: absolute;
		background-color: #000;
		width: 20px;
		height: 20px;
	}

}

.social {
	float: right;

	> ul {
		display: flex;

		> li {
			flex: 1;

			a {
				color: @white;
				padding: 0 1em;
				display: block;
			}
		}
	}
}

#team {
	.animation;

	.mate {
		.avatar {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
}

.loading {
	color: @white;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 2.3em;
}

pre {
	code {
		line-height: 1.5em;

		&.hljs {
			background-color: transparent;
		}
	}
}