.visual-hidden() {
	opacity: 0;
	visibility: hidden;
}

.visual-show() {
	opacity: 1;
	visibility: visible;
}

.flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-absolute() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.animation(@element: all; @easing: ease-in-out; @timing: .2s) {
	transition: @element @easing @timing;
}

.hover-hide-before() {
	&::before {
		.visual-hidden;
	}

	&:hover::before {
		.visual-show;
	}
}

.hover-hide-after() {
	&::after {
		.visual-hidden;
	}

	&:hover::after {
		.visual-show;
	}
}

.hover-hide() {
	.hover-hide-after;
	.hover-hide-before;
}

.clearfix {
	&::after,
	&::before {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}